# WiFi credentials
wifi_ssid: "Your_Primary_SSID"
wifi_password: "Your_Primary_Password"

# Backup WiFi networks
wifi_ssid_2: "Your_Secondary_SSID"
wifi_password_2: "Your_Secondary_Password"

wifi_ssid_3: "Your_Third_SSID"
wifi_password_3: "Your_Third_Password"

wifi_ssid_4: "Your_Fourth_SSID"
wifi_password_4: "Your_Fourth_Password"
